
SERVER_EXTERNAL_IP=34.122.181.181


FRONTEND_URL=http://34.122.181.181:3000
KEYCLOAK_ISSUER_URI=http://34.122.181.181:9090


KEYCLOAK_ADMIN=admin
KEYCLOAK_PASSWORD=SuperSecretKeycloakPass123!


DB_HOST=postgres-db
DB_USERNAME=akaslan_prod
DB_PASSWORD=SecureDbPass456!


RABBITMQ_HOST=rabbitmq-server
RABBITMQ_USER=rabbit_admin
RABBITMQ_PASSWORD=SecureRabbitPass789!

# 6. REDIS
REDIS_HOST=redis-cache

# 7. EUREKA
EUREKA_HOST=discovery-server

# 8. İÇ SERVİS GÜVENLİK ANAHTARI
INTERNAL_API_KEY=prod-internal-secret-key

# 9. ÖDEME SİSTEMİ (İyzico)
IYZICO_API_KEY=your-iyzico-api-key
IYZICO_SECRET_KEY=your-iyzico-secret-key