
FRONTEND_URL=http://localhost:3000


KEYCLOAK_ISSUER_URI=http://localhost:9090/realms/akaslan
KEYCLOAK_ADMIN=admin
KEYCLOAK_PASSWORD=SuperSecretKeycloakPass123!


DB_USER=akaslan_prod
DB_PASSWORD=SecureDbPass456!


RABBITMQ_USER=rabbit_admin
RABBITMQ_PASSWORD=SecureRabbitPass789!
 
